In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('nba_draft_combine_all_years.csv',encoding='unicode_escape')

In [3]:
df.head()

,Unnamed: 0,Player,Year,Draft pick,Height (No Shoes),Height (With Shoes),Wingspan,Standing reach,Vertical (Max),Vertical (Max Reach),Vertical (No Step),Vertical (No Step Reach),Weight,Body Fat,Hand (Length),Hand (Width),Bench,Agility,Sprint
0,0,Blake Griffin,2009,1.0,80.50,82.00,83.25,105.0,35.5,140.5,32.0,137.0,248.0,8.2,NaN,NaN,22.0,10.95,3.28
1,1,Terrence Williams,2009,11.0,77.00,78.25,81.00,103.5,37.0,140.5,30.5,134.0,213.0,5.1,NaN,NaN,9.0,11.15,3.18
2,2,Gerald Henderson,2009,12.0,76.00,77.00,82.25,102.5,35.0,137.5,31.5,134.0,215.0,4.4,NaN,NaN,8.0,11.17,3.14
3,3,Tyler Hansbrough,2009,13.0,80.25,81.50,83.50,106.0,34.0,140.0,27.5,133.5,234.0,8.5,NaN,NaN,18.0,11.12,3.27
4,4,Earl Clark,2009,14.0,80.50,82.25,86.50,109.5,33.0,142.5,28.5,138.0,228.0,5.2,NaN,NaN,5.0,11.17,3.35

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                517 non-null    int64
 1   Player                    517 non-null    object
 2   Year                      517 non-null    int64
 3   Draft pick                384 non-null    float64
 4   Height (No Shoes)         517 non-null    float64
 5   Height (With Shoes)       516 non-null    float64
 6   Wingspan                  517 non-null    float64
 7   Standing reach            517 non-null    float64
 8   Vertical (Max)            450 non-null    float64
 9   Vertical (Max Reach)      450 non-null    float64
 10  Vertical (No Step)        450 non-null    float64
 11  Vertical (No Step Reach)  450 non-null    float64
 12  Weight                    516 non-null    float64
 13  Body Fat                  514 non-null    float64
 14  Hand (Length)             470 non-null    float64
 15  Hand (Width)              468 non-null    float64
 16  Bench                     284 non-null    float64
 17  Agility                   444 non-null    float64
 18  Sprint                    446 non-null    float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.9+ KB

In [5]:
df.isna().sum()

Unnamed: 0                    0
Player                        0
Year                          0
Draft pick                  133
Height (No Shoes)             0
Height (With Shoes)           1
Wingspan                      0
Standing reach                0
Vertical (Max)               67
Vertical (Max Reach)         67
Vertical (No Step)           67
Vertical (No Step Reach)     67
Weight                        1
Body Fat                      3
Hand (Length)                47
Hand (Width)                 49
Bench                       233
Agility                      73
Sprint                       71
dtype: int64

Columns with Null Values:
Draft pick
Vertical (Max)
Vertical (Max Reach)
Vertical (No Step)
Vertical (No Step Reach)
Hand (Length)  
Hand (Width)
Bench 
Agility
Sprint

In [6]:
df['Draft pick'].value_counts()

Draft pick
37.0    9
14.0    9
18.0    9
33.0    9
27.0    8
34.0    8
10.0    8
9.0     8
8.0     8
44.0    8
40.0    8
36.0    8
28.0    8
41.0    8
21.0    8
12.0    8
13.0    8
17.0    8
19.0    8
24.0    7
43.0    7
22.0    7
49.0    7
38.0    7
30.0    7
15.0    7
6.0     7
25.0    7
46.0    7
51.0    7
11.0    7
32.0    7
29.0    7
23.0    7
42.0    6
26.0    6
2.0     6
55.0    6
35.0    6
16.0    6
20.0    6
4.0     6
3.0     6
47.0    6
59.0    5
58.0    5
31.0    5
5.0     5
7.0     5
52.0    5
48.0    5
39.0    5
56.0    4
45.0    4
50.0    4
53.0    3
54.0    3
1.0     3
60.0    2
Name: count, dtype: int64

In [7]:
df['Draft pick']=df['Draft pick'].fillna(value=df['Draft pick'].mean())

In [8]:
df['Draft pick'].isna().sum()

0

In [9]:
df['Vertical (Max)'].value_counts()

Vertical (Max)
35.5    30
36.5    25
34.5    25
37.5    24
36.0    23
33.5    22
32.5    22
33.0    22
37.0    21
34.0    20
35.0    20
31.5    18
38.0    17
31.0    17
38.5    15
32.0    15
30.5    13
40.5    13
39.5    12
40.0     9
39.0     8
29.5     7
41.5     7
42.0     5
28.0     5
28.5     5
29.0     5
30.0     5
41.0     4
44.0     3
43.5     3
43.0     3
25.0     2
27.5     2
26.5     1
26.0     1
44.5     1
Name: count, dtype: int64

In [14]:
for column in df.columns:
    df['Vertical (Max)']=df['Vertical (Max)'].fillna(value=df['Vertical (Max)'].mode()[0])

In [15]:
df['Vertical (Max)'].isna().sum()

0

In [16]:
df['Vertical (Max Reach)'].value_counts()

Vertical (Max Reach)
138.00    36
142.00    25
139.50    24
141.50    21
141.00    20
140.50    19
138.50    19
140.00    18
134.00    18
136.00    18
137.50    17
139.00    17
144.00    16
135.00    14
136.50    13
143.00    12
137.00    11
142.50    11
134.50    11
133.50    10
135.50     9
143.50     9
133.00     9
132.00     7
132.50     7
145.00     6
145.50     6
144.50     5
128.00     4
130.50     4
129.50     3
146.00     3
131.50     3
129.00     3
127.00     3
131.00     3
128.50     3
130.00     3
126.50     2
127.50     2
133.75     1
137.75     1
125.50     1
147.00     1
146.50     1
147.50     1
Name: count, dtype: int64

In [17]:
df['Vertical (Max Reach)']=df['Vertical (Max Reach)'].fillna(value=df['Vertical (Max Reach)'].mean())

In [18]:
df['Vertical (Max Reach)'].isna().sum()

0

In [19]:
df['Vertical (No Step)'].value_counts()

Vertical (No Step)
28.5    34
31.5    31
29.0    30
29.5    30
30.0    27
27.0    24
28.0    23
30.5    22
27.5    21
31.0    21
33.0    20
32.0    20
26.0    18
33.5    17
32.5    14
25.5    13
26.5    11
34.0    11
25.0    11
24.5    10
34.5     8
23.5     6
35.5     5
36.5     4
23.0     4
22.5     3
24.0     3
37.5     3
35.0     3
38.0     2
36.0     1
Name: count, dtype: int64

In [20]:
df['Vertical (No Step)']=df['Vertical (No Step)'].fillna(value=df['Vertical (No Step)'].mean())

In [21]:
df['Vertical (No Step)'].isna().sum()

0

In [22]:
df['Vertical (No Step Reach)'].value_counts()

Vertical (No Step Reach)
134.50    24
135.00    24
136.00    22
133.50    22
131.50    20
131.00    20
132.50    18
133.00    18
137.00    17
129.00    15
132.00    14
138.00    14
134.00    13
129.50    13
135.50    13
130.00    13
126.50    12
128.50    11
127.50    11
137.50    10
136.50    10
127.00    10
128.00     9
138.50     9
130.50     9
140.00     8
139.00     7
139.50     7
123.50     6
125.50     6
122.50     5
141.00     5
124.50     5
141.50     4
121.00     3
125.00     3
126.00     3
121.50     2
123.00     2
124.00     2
140.50     2
142.50     2
124.75     1
142.00     1
132.25     1
122.00     1
143.00     1
144.00     1
119.00     1
Name: count, dtype: int64

In [23]:
df['Vertical (No Step Reach)']=df['Vertical (No Step Reach)'].fillna(value=df['Vertical (No Step Reach)'].mean())

In [24]:
df['Vertical (No Step Reach)'].isna().sum()

0

In [25]:
df=df.drop(columns=['Bench'])
#since bench column has 50% nulls

In [26]:
df.columns

Index(['Unnamed: 0', 'Player', 'Year', 'Draft pick', 'Height (No Shoes)',
       'Height (With Shoes)', 'Wingspan', 'Standing reach', 'Vertical (Max)',
       'Vertical (Max Reach)', 'Vertical (No Step)',
       'Vertical (No Step Reach)', 'Weight', 'Body Fat', 'Hand (Length)',
       'Hand (Width)', 'Agility', 'Sprint'],
      dtype='object')

In [27]:
df['Agility'].value_counts()

Agility
11.15    10
11.10     8
11.68     7
11.00     7
11.45     6
         ..
10.48     1
11.84     1
12.35     1
10.65     1
12.40     1
Name: count, Length: 191, dtype: int64

In [28]:
df['Agility']=df['Agility'].fillna(value=df['Agility'].mean())

In [30]:
df['Agility'].isna().sum()

0

In [31]:
df['Sprint'].value_counts

<bound method IndexOpsMixin.value_counts of 0      3.28
1      3.18
2      3.14
3      3.27
4      3.35
       ...
512    3.41
513    3.30
514    3.53
515     NaN
516    3.26
Name: Sprint, Length: 517, dtype: float64>

In [32]:
df['Sprint']=df['Sprint'].fillna(value=df['Sprint'].mean())

In [33]:
df['Sprint'].isna().sum()

0

In [34]:
df['Hand (Length)'].value_counts()

Hand (Length)
8.50     97
9.00     93
8.75     80
8.25     63
9.25     52
9.50     29
8.00     28
9.75      8
7.50      8
7.75      7
10.00     2
8.30      2
10.25     1
Name: count, dtype: int64

In [37]:
for column in df.columns:
    df['Hand (Length)']=df['Hand (Length)'].fillna(value=df['Hand (Length)'].mode()[0])

In [38]:
df['Hand (Length)'].isna().sum()

0

In [39]:
df['Hand (Width)'].value_counts()

Hand (Width)
9.50     83
9.00     67
9.25     56
10.00    44
8.75     44
9.75     41
8.50     33
10.25    28
10.50    22
8.25     15
11.00     8
10.75     8
7.75      5
7.50      3
8.00      3
11.25     2
7.00      2
11.50     2
12.00     1
11.75     1
Name: count, dtype: int64

In [40]:
for column in df.columns:
    df['Hand (Width)']=df['Hand (Width)'].fillna(value=df['Hand (Width)'].mode()[0])

In [41]:
df['Hand (Width)'].isna().sum()

0

In [42]:
df=df.dropna()

In [43]:
df.isna().sum()

Unnamed: 0                  0
Player                      0
Year                        0
Draft pick                  0
Height (No Shoes)           0
Height (With Shoes)         0
Wingspan                    0
Standing reach              0
Vertical (Max)              0
Vertical (Max Reach)        0
Vertical (No Step)          0
Vertical (No Step Reach)    0
Weight                      0
Body Fat                    0
Hand (Length)               0
Hand (Width)                0
Agility                     0
Sprint                      0
dtype: int64

The data is cleaned.

In [44]:
df.to_csv("Cleaned data.csv")